:root {
  --primary-color: #66cc66;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}
* {
  box-sizing: border-box;
}
.flexbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.card {
  margin-top: 10px;
}
.link {
  text-transform: capitalize;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
