:root {
  --primary-color: #bed479;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}
* {
  box-sizing: border-box;
}
.main {
  margin-top: 1.3rem;
  min-height: 80vh;
  overflow: hidden;
}
.flexbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.card {
  margin-top: 10px;
}
.bg-white {
  background-color: #f6f7f2;
}
.bg-green {
  background-color: #ebeee3;
}
